.admin_assistant.index.admin_songs
  .aa_header
    %h2
      =mail_to @comment.email, @comment.email
  %p 
    Comment for:
    = @comment.commentable.title

  %p
    Body:
    = @comment.body
  %p
    Name:
    = @comment.name

  %p
    URL:
    = @comment.url
  