#notification
  %h2= @notification.title
  #body
    = @notification.body

- form_for @notification, :url => deliver_notification_path(@notification), :method => :post do |f|
  %button.button.submit
    Deliver