#notification
  %h2= @notification.title
  #body
    = @notification.body

- if @notification.delivered_at.nil?
  - form_for @notification, :url => deliver_notification_path(@notification), :method => :post do |f|
    %button.button.submit
      Deliver
- else
  %p
    Delivered at
    = @notification.delivered_at.
  