#notification
  %h2= @notification.title
  #body
    = textilize @notification.body

- if @notification.delivered_at.nil?
  - form_for @notification, :url => deliver_admin_notification_path(@notification), :html => { :method => :post } do |f|
    %button.button.submit
      Deliver

