.DS_Store
webrat*
log/*
tmp/**/*
tmp/restart.txt
*.swp

public/system
public/stylesheets/*.css
public/sprockets.js

db/sphinx
db/schema.rb

config/database.yml
config/deploy.rb
config/initializers/site_keys.rb
config/initializers/smtp_gmail.rb
