Hello friend,
Thank you for signing up for my email list.
To start getting emails you need to confirm. Please click:
=h @url

You will then get emails about all my gigs...

See you at the bar,
\-Dinshaw


