if ['production','staging'].include?(RAILS_ENV)
  ActionMailer::Base.smtp_settings = {
    :address => "smtp.gmail.com",
    :port => 587,
    :domain => "dinshaw.us",
    :authentication => :plain,
    :tls => true, 
    :user_name =>  'admin@dinshaw.us',
    :password => 'dummy'
  }
end
