#email_form_container
  - form_for @user, :url => account_path, :html => { :id => :email_list_form } do |f|

    #email_field
      = render :partial => "users/form", :object => f, :locals => { :email_list => true }

    .submit_container
      %button.button.submit{:type=>"submit"} 
        Signup
      = image_tag "progress.gif", :class => :progress_spinner
      