%h2 Unsubscribe
%p Sick of all the emails? Just enter the email address you want removed and it will be deleted forever.

#email_form_container
  - form_for :user, :url => unsubscribe_path, :html => { :id => :email_list_form } do |f|

    #email_field
      = render :partial => "users/form", :object => f, :locals => { :email_list => true }

    .submit_container
      %button.button.submit{:type=>"submit"} 
        Unsubscribe
      = image_tag "progress.gif", :class => :progress_spinner
