.submit_container
<<<<<<< Updated upstream
  %button.button.light{:type=>"submit"}= text
=======
  %button.button.button.light{:type=>"submit"}= text
>>>>>>> Stashed changes
  = image_tag "progress.gif", :class => :progress_spinner