#songs
  %ul.list
    - @songs.each do |song|
      %li{ :class => cycle('even','odd') }
        = link_to song.title, song
        - unless song.recordings.public.empty?
          %span.recording_count
            = ['(r:',song.recordings.public.count,')'].join
        - unless song.comments.empty?
          %span.recording_count
            = ['(c:',song.comments.count,')'].join            

%a.right{:href => poems_songs_path} poems
