#song
  %h2
    = @song.title
  
  - unless @song.recordings.blank?
    = render :partial => 'recordings/recordings', :locals => { :recordings => @song.recordings, :showing => 'song' }


  #recordings
    %h4.close-bottom
      Notes:

    = textilize @song.notes



  #lyrics
    %h4.close-bottom Lyrics:
    =textilize @song.lyrics



