= render :partial => '/gigs/gig', :locals => { :full => true }

- form_for Notification.new, :url => new_admin_notification_path, :html => { :method => :get } do |form|
  = form.hidden_field :gig_id, :value => @gig.id
  %button.button Generate Notification