%p Thank you for signing up!
%p 
  If you ever feel the need to unsubscribe, you can either come back to this page (
  = link_to "unsubscribe link", '/public/email_list_info'
  ) or click the 'Unsubscribe' link at the footer of any of the emails you receive from the site.

