%h2 Contact
%p Call me. As my good friend Sonny says, "Because I LOVE to chat...".

%ul
  %li
    Booking: 646.239.8325
  %li
    = mail_to "info@dinshaw.us", "info@dinshaw.us ", :encode => "javascript"
