#feeds
  %ul
    %li
      = link_to "Songs", songs_url(:format => :rss)
    %li
      = link_to "Recordings", recordings_url(:format => :rss)
    %li
      = link_to "Gigs", gigs_url(:format => :rss)
    %li
      = link_to "Comments", comments_url(:format => :rss)      