#feeds
  %ul
    %li
      = link_to "New Songs", songs_url(:format => :rss)
    %li
      = link_to "New Recordings", recordings_url(:format => :rss)
    %li
      = link_to "New Gigs", gigs_url(:format => :rss)